<div class="container">
  <div class="trip-card">
      <span>Biyi Chibuzor</span> <span class="status pending">pending</span>
      <h4>
        <ion-icon name="location"></ion-icon>
        <div class="info-detail">Adeola Odeku, Victoria Island</div>
      </h4>
      <div class="info">
        <ion-icon name="call"></ion-icon>
        <div class="info-detail">080 000 0000</div>
      </div>
  </div>
</div>


<div class="container">
  <div class="trip-card">
    <span>Biyi Chibuzor</span> <span class="status started">started</span>
    <h4>
      <ion-icon name="location"></ion-icon>
      <div class="info-detail">Adeola Odeku, Victoria Island</div>
    </h4>
    <div class="info">
      <ion-icon name="call"></ion-icon>
      <div class="info-detail">080 000 0000</div>
    </div>
  </div>
</div>


<div class="container">
  <div class="trip-card">
    <span>Biyi Chibuzor</span> <span class="status completed">completed</span>
    <h4>
      <ion-icon name="location"></ion-icon>
      <div class="info-detail">Adeola Odeku, Victoria Island</div>
    </h4>
    <div class="info">
      <ion-icon name="call"></ion-icon>
      <div class="info-detail">080 000 0000</div>
    </div>
  </div>
</div>
