<div class="container">
    <h2>Let's get started</h2>
    <div class="row">
        <a href="/attendance"><div class="nav-box">
            <div class="nav-icon-box">
              <ion-icon name="finger-print"></ion-icon>
            </div>
            <h4>Attendance</h4>
        </div></a>
        <a routerLink="/dashboard"><div (click)="presentModal()" class="nav-box">
            <div class="nav-icon-box">
              <ion-icon name="bicycle"></ion-icon>
            </div>
            <h4>Add trip</h4>
        </div></a>
        <a routerLink="/all-shipments"><div class="nav-box">
            <div class="nav-icon-box">
              <ion-icon name="logo-dropbox"></ion-icon>
            </div>
            <h4>All shipments</h4>
        </div></a>
        <a href="/current-trip"><div class="nav-box">
            <div class="nav-icon-box">
              <ion-icon name="location"></ion-icon>
            </div>
            <h4>current trip</h4>
        </div></a>
    </div>
</div>