<div class="main">
  <div class="container">
    <div class="row">
        <div class="col-6">
          <h3 (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></h3>
        </div>
        <div class="col-6 text-end">
            <h3>Select Trip</h3>
        </div>
    </div>
  </div>

  <a href="/pick-up-form"><div class="nav-box">
    <div class="nav-icon-box">
      <ion-icon name="logo-dropbox"></ion-icon>
    </div>
    <h4>Pick up</h4>
  </div></a>

  <a href="/delivery-form"><div class="nav-box2">
    <div class="nav-icon-box">
      <ion-icon name="bicycle"></ion-icon>
    </div>
    <h4>Delivery</h4>
  </div></a>
</div>
