/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font: 'Poppins', sans-serif;
  --font-color: #666;
  --font-color2: #ABA1A1;
  --primary-color: #146935;
  --secondary-color: #D7E024;
}


body {
    font-family: var(--font);
    color: var(--font-color);
    font-size: 14px;
    background-color: #E5E5E5;
  }

  
  h1 {
    font-size: 23px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 13px;
    font-weight: 600;
  }
  
  span {
    font-size: 12px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid #E5E5E5;
    float: right;
    background-position: center center;
    background-size: cover;
  }