:root{
    --font: 'Poppins', sans-serif;
    --font-color: #666;
    --font-color2: #ABA1A1;
    --primary-color: #146935;
    --secondary-color: #D7E024;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #efefef;
    background-color: white;
    padding-top: 50px;
    color: var(--primary-color);
    position: fixed;
    z-index: 1;
}

ion-searchbar {
    opacity: 1;
    background-color: white;
    border-radius: 10px;
}

.destination-bar {
    float: left;
    width: 70%;
    margin: 0;
    padding: 0;
}


ion-item {
    color: #000;
}

#map {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: white;
    bottom: 0;
    position: fixed;
}

.input-wrap {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

.input-wrap-two {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-radius: 20px;
}

.destination {
    width: 100%;
    height: 45px;
    position: fixed;
    top: 110px;
    z-index: 1;
}

.input-wrap-two {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

ion-icon {
    float: left;
    font-size: 18px;
    color: var(--secondary-color);
}

.input-wrap ion-icon {
    margin-top: 3px;
}

.input-wrap-two ion-icon {
    margin-top: 3px;
}

.input-text {
    width: 85%;
    float: left;
    margin-left: 5px;
    border: 1px none #ccc;
    font-size: 14px;
    padding-top: 2px;
}

.add-btn {
    width: 100px;
    height: 35px;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    margin: auto;
    padding-top: 7px;
    border-radius: 15px;
    margin-top: 10px;
}